.container {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(16, 20px);
}

.grid {
    background-color: rgb(192, 182, 182);
    border: 2px solid white;
}