.container {
    display: grid;
    width: 600px;
    height: 600px;
    /* minmax(0, 1fr) allows the grid tracks to be as small as 0 but as large as 1fr, 
    creating columns that will stay equal */
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, minmax(0, 1fr));
    margin: 0;
}

.grid {
    background-color: rgb(192, 182, 182);
    border: 2px solid white;
}

.hover {
    background-color:rgb(74, 173, 173);
}

.colored {
    background-color: black;
}

.container .grid {
    overflow: hidden;
}